/*      
paper.png from subtle patern: 
https://www.toptal.com/designers/subtlepatterns/
*/
body {
    background-image: url('../img/paper.png');
    font-family: 'Ubuntu', sans-serif;
}

.error{
    color: red;
}

nav {
    padding: 5px;
}

#container{
    padding-top: 50px;
}

.glyphicon-remove-circle:hover{
    color: red;
}

.glyphicon-edit:hover{
    color: blue;
}

.glyphicon, li{
    cursor: pointer;
}